<script type="text/template" id="annotation-template">
    <span id="quote[%uuid%]" class="sbquote details">
        Quote: &quot;[%quote%]&quot;
    </span><br>
    <span id="text[%uuid%]" class="sbtext details">
        Comment: [%&text%]
    </span><br>
    <span id="info[%uuid%]" class="sbinfo details">
        Author: [%username%]
    </span><br>
    <div id="tags[%uuid%]" class="sbtags details">
        Tags: [%#tags%]<span class="label label-default">[%.%]</span> [%/tags%]
    </div><br>
    <div id="categories[%uuid%]" class="sbcats details">
        Categories: [%#annotation_categories%]<span class="label label-default">[%.%]</span> [%/annotation_categories%]
    </div><br>
</script>
