---
layout: default
---

<div class="row">
  <div class="col-md-6">
        <div class="page">
            {{ content }}
        </div>
  </div>
  <div class="col-md-6">
    <div id="annotation-well">
    <h4>Filter</h4>
    <select id="tag-filter" multiple="multiple">
        <option></option>
    </select>
    <select id="cat-filter" multiple="multiple">
        <option></option>
    </select>
    <select id="user-filter" multiple="multiple">
        <option></option>
    </select>
    <hr>
    <h4>View</h4>
    <div id="annotation-viewer">
    </div>
    </div><!--/well -->
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.0.slim.min.js" integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.15.0/lodash.core.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/public/js/tagfilter.js"></script>
<script type="text/template" id="annotation-template">
    <table id="annotation-table">
        <tr>
            <td class="anno-label">Quote:</td>
            <td><span id="quote[%uuid%]" class="sbquote details">&quot;[%quote%]&quot;</span></td>
        </tr>
        <tr>
            <td class="anno-label">Comment:</td>
            <td><span id="text[%uuid%]" class="sbtext details">[%&text%]</span></td>
        </tr>
        <tr>
            <td class="anno-label">Author:</td>
            <td><span id="info[%uuid%]" class="sbinfo details">[%username%]</span></td>
        </tr>
        <tr>
            <td class="anno-label">Tags:</td>
            <td><div id="tags[%uuid%]" class="sbtags details">[%#tags%]<span class="label label-default">[%.%]</span>[%/tags%]</div></td>
        </tr>
        <tr>
            <td class="anno-label">Categories:</td>
            <td><div id="categories[%uuid%]" class="sbcats details">[%#annotation_categories%]<span class="label label-default">[%.%]</span> [%/annotation_categories%]</div></td>
        </tr>
    </table>
</script>
